@import 'colors';

// Project specific

html,
body {
    color: color($blue-grey, 800);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    strong {
        font-weight: 600;
    }
}

html,
body,
body>div,
.Layout {
    height: 100%;
}

// General normalization

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-size-adjust: 100%;
}

*:focus {
    outline: none;
}

* {
    -webkit-tap-highlight-color: rgba(color($black), 0);
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

img {
    border-style: none;
}

input::placeholder {
    color: color($grey, 500);
}

svg:not(:root) {
    overflow: hidden;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[hidden] {
    display: none;
}