
@import 'colors';

.u-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}

.u-input {
    background: color($white);
    border-radius: 5px;
    display: inline-block;
    font-size: 13px;
    line-height: 40px;
    min-height: 40px;
    margin: 6px 0 0;
    padding: 1px 0 0 13px;
    position: relative;
    transition: border .1s ease;
    width: 100%;
}

.u-input,
.multiselect__tags { border: 1px solid color($grey, 200); }

.u-relative { position: relative; }
.u-absolute { position: absolute; }
.u-fixed { position: fixed; }

.u-fit {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

// Text
.u-left { text-align: left; }
.u-right { text-align: right; }
.u-center { text-align: center; }
